.containerExterior {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #fff0f0 0%,
    #ffd5e0 100%
  );
  width: 100%;
  margin-top: 5rem;
}

.container {
  width: min(100% - 6vw, 65rem);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagenChicaDos {
  width: 4rem;
  height: auto;
}

.contenido {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 42.999rem) {
  .contenido:first-child {
    margin: 2rem 1rem 0.6rem;
  }
  .contenido:last-child {
    margin: -0.6rem 1rem 2rem;
  }
}

.contenido a {
  justify-self: flex-end;
  text-decoration: none;
  margin-top: auto;
  background-color: #ea5b80;
  box-shadow: 0 5px 10px 0 #777;
  color: white;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  align-self: center;
  cursor: pointer;
  font-size: 0.8rem;
}

.contenido a:hover {
  background-color: #ff7b9c;
}

@media (min-width: 43rem) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
  }
  .imagenChicaDos {
    transform: scale(1.4) translateY(-0.7rem);
    flex-grow: 0;
    width: 5rem;
    height: auto;
  }
  .contenido {
    padding: 3rem 2rem;
  }
  .contenido a {
    font-size: 1rem;
  }
}
