.container {
  width: 100%;
}

.contenido {
  width: min(100% - 6vw, 65rem);
  margin-inline: auto;
  margin-block: 5rem;
  display: flex;
  flex-direction: column;
}

.columnIzq {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 40%;
}

.h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.p {
  text-align: center;
  margin: 1rem 0;
}

.imgMapa {
  width: 100%;
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 60%;
  object-fit: cover;
}

.btnTelef {
  border: none;
  border-bottom: 1px solid;
  background: none;
  font-size: 1rem;
}

.containerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.btnMapa {
  color: white;
  width: 50%;
  background-color: #ea5b80;
  border: none;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 #777;
}

@media (min-width: 56rem) {
  .contenido {
    flex-direction: row;
    gap: 2rem;
  }

  .h1 {
    font-size: 3rem;
    text-align: left;
  }

  .p {
    text-align: left;
  }

  .containerBtn {
    align-items: flex-start;
  }
}
