.container {
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.imgMapa {
  max-width: 100%;
}

.btnTelef {
  border: none;
  border-bottom: 1px solid;
  background: none;
  font-size: 1rem;
}

.containerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btnMapa {
  color: white;
  width: 30%;
  background-color: #ea5b80;
  border: none;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 #777;
}

@media (min-width: 43rem) {
  .container {
    flex-direction: row;
    gap: 4rem;
  }
  .h1 {
    font-size: 3rem;
    text-align: start;
  }
  .containerBtn {
    align-items: flex-start;
  }
  .btnMapa {
    width: 50%;
  }
}
