.proyectoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
    49.05% 49.05% at 50.09% 50%,
    #d6eef4 19.5%,
    #9bb5bd 100%
  );
  width: 100%;
  gap: 3rem;
  padding-block: 5rem;
}

.h1 {
  font-size: 3rem;
  color: white;
  margin: 0;
  text-align: center;
}

.cardsContainer {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.boton {
  color: white;
  background-color: #ea5b80;
  border: none;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 5px 10px 0 #777;
}
