.proyectoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    49.05% 49.05% at 50.09% 50%,
    #d6eef4 19.5%,
    #9bb5bd 100%
  );
  width: 100%;
  gap: 3rem;
  padding-block: 5rem;
}

.h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
  text-align: center;
}

.cardsContainer {
  width: min(100% - 6vw, 65rem);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}
.cardsContainer > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: min(100% - 6vw, 18rem);
}
.cardsContainer img {
  width: 100%;
  height: auto;
}

.boton {
  color: white;
  background-color: #ea5b80;
  border: none;
  padding: 0.5rem 0.8rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 5px 10px 0 #777;
}

@media (min-width: 43rem) {
  .h1 {
    font-size: 3rem;
  }
}
