/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  } */

.h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
}

.card {
  background-color: #f3fbfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #d5e7f1;
  gap: 1rem;
  padding: 1rem;
  border: 8px solid #d5e7f1;
}

.cardImg {
  object-fit: cover;
  object-position: top left;
  aspect-ratio: 3 / 2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 43rem) {
  /* .container {
    flex-direction: row;
    gap: 1rem;
  } */

  .card {
    width: 15rem;
  }

  .cardImg {
    width: 100%;
    height: 100%;
  }
}
