.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.containerCarousel {
  padding-top: 10rem;
  position: relative;
  max-width: min(90%, 50rem);
}

.regadera {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -2rem;
  z-index: -1;
}

.h1 {
  text-align: center;
  font-size: 3rem;
  z-index: 1;
}

@media (max-width: 43rem) {
  .h1 {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    margin-inline: 1rem;
  }
}
