.navContainer {
  position: fixed;
  inset: 0;
  z-index: 10000;
  padding: 1rem;
}

.navMenu {
  position: absolute;
  inset: 0;
  background-color: beige;
  backdrop-filter: blur(3px);
}

.menuHamburguer {
  position: absolute;
  inset: 0;
  background: blueviolet;
  border-radius: 7px;
  z-index: -1;
}

.navMenuContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  background-color: plum;
  color: white;
  width: min(90%, 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  translate: 100%;
}

.menuEnlace .hamburguerActive {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.menuEnlace a {
  color: white;
  text-decoration: none;
  text-align: right;
  gap: 0.2rem;
}
