.navContainer {
  position: fixed;
  inset: 0;
  z-index: 10000;
  padding: 1rem;
}

.navMenu {
  position: absolute;
  inset: 0;
  background-color: beige;
  backdrop-filter: blur(3px);
}

.menuEnlace {
  position: absolute;
  inset: 0;
  background: blueviolet;
  border-radius: 7px;
  z-index: -1;
}

.navMenuContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  background-color: plum;
  color: white;
  width: min(90%, 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  translate: 100%;
}
