.navContainer {
  position: fixed;
  inset: 0;
  z-index: 10000;
  padding: 1rem;
}

.navMenu {
  position: absolute;
  inset: 0;
  background-color: transparent;
  backdrop-filter: blur(3px);
}

.menuHamburguer {
  position: absolute;
  inset: 0;
  background: blueviolet;
  padding: 0.8rem;
  border-radius: 5px;
  z-index: -1;
}

.menuEnlace a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.3rem 0.5rem;
}

.menuEnlace ul {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.5rem;
}

.menuEnlace li {
  position: relative;
  list-style: none;
}
