.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #645d5d;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px #817a7a;
  width: 50%;
  margin: 5rem auto;
}

.input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

.textarea {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}
