.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #fff0f0 0%,
    #ffd5e0 100%
  );
  width: 100%;
  gap: 3rem;
  padding-block: 5rem;
}

.h1 {
  font-size: 2rem;
  margin: 0;
}

.cebra {
  position: absolute;
  max-width: 180px;
  max-height: 130px;
  transform: translate(-70%, -110%);
}

.cardsContenido {
  width: min(100% - 6vw, 65rem);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

@media (min-width: 43rem) {
  .h1 {
    font-size: 3rem;
  }

  .cebra {
    max-width: 250px;
    max-height: 180px;
  }
}
