.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/imagen/planta-3.svg");
}

.img {
  background-image: linear-gradient(
    84.09deg,
    #d5e7f1 47.31%,
    rgba(213, 231, 241, 0) 98.07%
  );
}
