.container {
  background-image: url("/imagen/planta-3.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background: rgb(213, 231, 241); */
  background: linear-gradient(
    90deg,
    rgba(213, 231, 241, 1) 0%,
    rgba(213, 231, 241, 1) 11%,
    rgba(213, 231, 241, 0.4962359943977591) 21%,
    rgba(213, 231, 241, 0) 33%,
    rgba(213, 231, 241, 0) 100%
  );
}

.contenido {
  display: flex;
  flex-direction: column;
  width: min(100% - 6vw, 65rem);
  margin: 0 auto;
}

.h1 {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
}

.p {
  margin-left: 5rem;
}

.infoStrong {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0rem;
}

@media (min-width: 43rem) {
  .h1 {
    font-size: 6rem;
    margin: 4rem 5rem;
  }
}
