.container {
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}

.h1 {
  position: relative;
  z-index: 1;
}

.zIndex {
  background-color: blueviolet;
  color: white;
  position: absolute;
  width: 40rem;
  top: 0;
  isolation: isolate;
}

.zIndex :first-child {
  position: absolute;
  top: 0;
  z-index: 2;
}

.zIndex :last-child {
  position: absolute;
  top: 0;
  z-index: 4;
}
